extends layout
block content
    blockquote.blockquote.text-center
        h1.mb-0 user
        a(href='users/create') new users
    form.form-inline.md-form.mr-auto.mb-4(action='/users/search', method='get')
        input.form-control.mr-sm-2(type='text', name='q',value = valueinput)
        br
        blockquote.blockquote.text-right
        button.btn.btn-primary(type='submit') Search
    ul.list-group
        each users in userss
            li
                span= users.name
                span &nbsp &nbsp
                a(href = "/users/"+ users.id) view
            br
